.myBtn {
}
.fontbutcat {
  font-size: 17px;
  margin-left: 107px;
  margin-top: -20px;
  font-family: "Montserrat", sans-serif;
  color: #592d81;
  background-color: 0%;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.fontbutzad {
  font-size: 17px;
  margin-left: 320px;
  margin-top: -20px;
  font-family: "Montserrat", sans-serif;
  color: #592d81;
  background-color: 0%;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  border: none;
}
