/* Основные стили для компонента регистрации */
.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  max-width: 100%;
  margin: 20px;
}

.register-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.form-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.new-register-button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  border: 1px solid #592d81;
  color: #592d81;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 16px;
}
.auth-button {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  width: 100%;
  padding: 10px;
  background-color: #592d81;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #592d81;
}

@media (max-width: 500px) {
  .register-container {
    padding: 15px;
  }

  .register-form h1 {
    font-size: 20px;
  }
}
